.main-div {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
}

.details-card {
  background-color: azure;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: azure;
}
.toolbar * {
  margin-left: 20px;
}

.image-container * {
  height: 250px;
  width: 250px;
}

.image-container {
  border: 2px;
  border-color: black;
}

.info-container {
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
}

.child {
  padding-right: 20px;
  display: inline;
  float: left;
}

.inline {
  display: inline;
}

.icon {
  font-size: 250px;
}
