<div class="mat-elevation-z8" color="primary">
  <div class="table-information-row-container" color="primary">
    <!-- Add-Button -->
    <button mat-icon-button matSuffix (click)="onAddDevice()" *ngIf="authService.isLoggedIn">
      <mat-icon> add </mat-icon>
    </button>

    <!-- Refresh-Button -->
    <button mat-icon-button (click)="getDevices()">
      <mat-icon> refresh </mat-icon>
    </button>
  </div>

  <div class="table-container" color="primary">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="left-aligned-header">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="left-aligned-content">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="left-aligned-header">
          Type
        </th>
        <td mat-cell *matCellDef="let element" class="left-aligned-content">
          {{ element.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef class="left-aligned-header">
          Manufacturer
        </th>
        <td mat-cell *matCellDef="let element" class="left-aligned-content">
          {{ element.manufacturer }}
        </td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef class="left-aligned-header">
          Place
        </th>
        <td mat-cell *matCellDef="let element" class="left-aligned-content">
          {{ element.place }}
        </td>
      </ng-container>

      <!-- Toggle Button Column -->
      <ng-container matColumnDef="isOn">
        <th mat-header-cell *matHeaderCellDef class="center-aligned-header">
          Status
        </th>
        <td mat-cell *matCellDef="let element" class="center-aligned-content">
          <button
            *ngIf="element.isActive"
            mat-raised-button
            (click)="onToggleDevice(element)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="40"
              height="40"
              viewBox="0 0 226 226"
              style="fill: #000000"
            >
              <g
                fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <path d="M0,226v-226h226v226z" fill="none"></path>
                <g>
                  <path
                    d="M16.95,172.325c-7.7857,0 -14.125,-6.3393 -14.125,-14.125v-90.4c0,-7.7857 6.3393,-14.125 14.125,-14.125h192.1c7.7857,0 14.125,6.3393 14.125,14.125v90.4c0,7.7857 -6.3393,14.125 -14.125,14.125z"
                    fill="#2ecc71"
                  ></path>
                  <path
                    d="M209.05,56.5c6.23195,0 11.3,5.06805 11.3,11.3v90.4c0,6.23195 -5.06805,11.3 -11.3,11.3h-192.1c-6.23195,0 -11.3,-5.06805 -11.3,-11.3v-90.4c0,-6.23195 5.06805,-11.3 11.3,-11.3h192.1M209.05,50.85h-192.1c-9.36205,0 -16.95,7.58795 -16.95,16.95v90.4c0,9.36205 7.58795,16.95 16.95,16.95h192.1c9.36205,0 16.95,-7.58795 16.95,-16.95v-90.4c0,-9.36205 -7.58795,-16.95 -16.95,-16.95z"
                    fill="#2ecc71"
                  ></path>
                  <path
                    d="M121.475,158.2h84.75c1.5594,0 2.825,-1.2656 2.825,-2.825v-84.75c0,-1.5594 -1.2656,-2.825 -2.825,-2.825h-84.75c-1.5594,0 -2.825,1.2656 -2.825,2.825v84.75c0,1.5594 1.2656,2.825 2.825,2.825z"
                    fill="#ffffff"
                  ></path>
                </g>
              </g>
            </svg>
          </button>
          <button
            *ngIf="!element.isActive"
            mat-raised-button
            (click)="onToggleDevice(element)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="40"
              height="40"
              viewBox="0 0 226 226"
              style="fill: #000000"
            >
              <g
                fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <path d="M0,226v-226h226v226z" fill="none"></path>
                <g>
                  <path
                    d="M16.95,172.325c-7.7857,0 -14.125,-6.3393 -14.125,-14.125v-90.4c0,-7.7857 6.3393,-14.125 14.125,-14.125h192.1c7.7857,0 14.125,6.3393 14.125,14.125v90.4c0,7.7857 -6.3393,14.125 -14.125,14.125z"
                    fill="#e74c3c"
                  ></path>
                  <path
                    d="M209.05,56.5c6.23195,0 11.3,5.06805 11.3,11.3v90.4c0,6.23195 -5.06805,11.3 -11.3,11.3h-192.1c-6.23195,0 -11.3,-5.06805 -11.3,-11.3v-90.4c0,-6.23195 5.06805,-11.3 11.3,-11.3h192.1M209.05,50.85h-192.1c-9.36205,0 -16.95,7.58795 -16.95,16.95v90.4c0,9.36205 7.58795,16.95 16.95,16.95h192.1c9.36205,0 16.95,-7.58795 16.95,-16.95v-90.4c0,-9.36205 -7.58795,-16.95 -16.95,-16.95z"
                    fill="#e74c3c"
                  ></path>
                  <path
                    d="M104.525,67.8h-84.75c-1.5594,0 -2.825,1.2656 -2.825,2.825v84.75c0,1.5594 1.2656,2.825 2.825,2.825h84.75c1.5594,0 2.825,-1.2656 2.825,-2.825v-84.75c0,-1.5594 -1.2656,-2.825 -2.825,-2.825z"
                    fill="#ffffff"
                  ></path>
                </g>
              </g>
            </svg>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="center-aligned-header">
          Actions
        </th>
        <td mat-cell *matCellDef="let device" class="center-aligned-content">
          <button mat-button (click)="onUpdateDevice(device)">Update</button>
          <button mat-button (click)="onDeleteDevice(device.name)" color="warn">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
