<h1 mat-dialog-title>Update admin: {{ data.admin.username }}</h1>
<form [formGroup]="updateAdminForm" (ngSubmit)="onSaveClick()">
  <div mat-dialog-content>
    <div class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          id="firstName"
          type="text"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput id="lastName" type="text" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="email" formControlName="email" />
        <mat-error *ngIf="formMember('email').hasError('email')"
          >Incorrect format</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Image link</mat-label>
        <input
          matInput
          id="imageLink"
          type="url"
          formControlName="imageLink"
          [defaultValue]=""
        />
        <mat-error *ngIf="formMember('imageLink').hasError('pattern')"
          >Not a valid Url</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit">Save</button>
  </div>
</form>
