<div class="main-div">
  <mat-card class="check-in-out-card">
    <mat-card-title><h1>Check in or out!</h1></mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-card class="child">
          <mat-card-title>In</mat-card-title>
          <form [formGroup]="inForm" (ngSubmit)="onIn()">
            <mat-card-content>
              <mat-form-field appearance="fill">
                <mat-label>User ID</mat-label>
                <input
                  matInput
                  id="uuid"
                  type="text"
                  formControlName="uuid"
                  required
                />
                <mat-error *ngIf="uuid.hasError('required')"
                  >You must provide a ID</mat-error
                >
              </mat-form-field>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit">Check In</button>
            </mat-card-actions>
          </form>
        </mat-card>
        <div class="spacing child"></div>
        <mat-card class="child out-card">
          <mat-card-title>Out</mat-card-title>
          <form [formGroup]="outForm" (ngSubmit)="onOut()">
            <mat-card-content>
              <mat-form-field appearance="fill">
                <mat-label>Your check-in ID</mat-label>
                <input
                  matInput
                  id="logId"
                  type="text"
                  formControlName="logId"
                  required
                />
                <mat-error *ngIf="logId.hasError('required')"
                  >You must provide a ID</mat-error
                >
              </mat-form-field>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit">Check Out</button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
