<h1 mat-dialog-title>Update user: {{ data.user.uuid }}</h1>
<div mat-dialog-content>
  <form [formGroup]="newUserForm">
    <div class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="formMember('name').hasError('required')"
          >Username is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" required />
        <mat-error *ngIf="formMember('country').hasError('required')"
          >Country is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>State/Province</mat-label>
        <input matInput formControlName="stateOrProvince" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="postalCode" required />
        <mat-error *ngIf="formMember('postalCode').hasError('required')"
          >Postal code is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput formControlName="city" required />
        <mat-error *ngIf="formMember('city').hasError('required')"
          >City is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" required />
        <mat-error *ngIf="formMember('street').hasError('required')"
          >Street is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Building Number</mat-label>
        <input matInput formControlName="buildingNum" required />
        <mat-error *ngIf="formMember('buildingNum').hasError('required')"
          >Building number is required</mat-error
        >
      </mat-form-field>
    </div>
  </form>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()">Save</button>
</div>
